.codeWrapper {
  font-size: 0.8rem;
  line-height: 1.6;
  font-family: Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
  --tw-bg-opacity: 1;
  background-color: rgb(28 25 23 / var(--tw-bg-opacity));
  border-radius: 0.25rem;
  flex-direction: column;
  width: 100%;
  display: flex;
}

.codeFiles {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(41 37 36 / var(--tw-bg-opacity));
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  gap: 0.5rem;
  justify-content: flex-end;
  display: flex;
}

.codeFiles ul {
  gap: 0.5rem;
  justify-content: flex-end;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


.codeFiles ul li:not(.fileActive):hover {
  --tw-bg-opacity: 1;
  background-color: rgb(68 64 60 / var(--tw-bg-opacity));
}
