@tailwind base;
@tailwind components;
@tailwind utilities;

pre[data-file]::before {
  content: attr(data-file);
  position: absolute;
  top: 0;
  right: 0;
}

code[class*="language-"] {
  font-size: 0.8rem;
  line-height: 1.5;
  font-family: Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
}

code[class*="language-"] .__line:not(.__highlighted),
code[class*="language-"] .__line:not(.__highlighted) span {
  color: black
}

code[class*="language-"] .__line .__line-number {
  display: inline-flex;
  justify-content: center;
  width: 4rem;
}

code[class*="language-"] .__line.__highlighted {
  background: black;
}
