@tailwind base;
@tailwind components;
@tailwind utilities;

pre[data-file]::before {
  content: attr(data-file);
  position: absolute;
  top: 0;
  right: 0;
}

#code-wrapper {
  font-size: 0.7rem;
  line-height: 1.6;
  font-family: Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
}

#code-wrapper .__line.__highlighted:hover,
#code-wrapper .__line:hover {
  background-color: #292524;
}

#code-wrapper .__line:not(.__highlighted),
#code-wrapper .__line:not(.__highlighted) span {
  opacity: 0.9;
  -webkit-transition: opacity 100ms linear;
  -ms-transition: opacity 100ms linear;
  transition: opacity 100ms linear;
}

#code-wrapper:not(:hover) .__line:not(.__highlighted),
#code-wrapper:not(:hover) .__line:not(.__highlighted) span {
  opacity: 0.5;
}

#code-wrapper .__line .__line-number {
  display: inline-flex;
  justify-content: center;
  width: 3rem;
}

#code-wrapper .__line.__highlighted {
  background: #100d0b;
}
